* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #f9f9f9;
}

header {
    background-color: #2c2e31;
    height: 500px;
}

header h1 {
    color: white;
    padding-top: 100px;
}

.card--custom {
    min-height: 300px;
    max-width: 600px;
    margin-top: -250px;
}

#user-photo {
    border-radius: 50%;
    width: 150px;
    margin: 0 auto;
}

#user-title{
    font-size: 18px;
}

/* values-list styles */
#valuesList {
    padding: 0;
}

#valuesList li {
    list-style-type: none;
    font-size: 25px;
    color: lightgrey;
    cursor: pointer;
}

.active i {
    color: lightgreen;
  }



